<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Klasmeyt</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bulma.css") %>">
   <link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.min.css") %>">
    <script src="http://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="nav has-shadow">
      <div class="nav-left">
        <div class="nav-item">
          <a href="<%= item_path(@conn, :index) %>">
            <img src="/images/logo.png" style="max-height:100px">
          </a>
        </div>
        <div class="nav-item">
          <a class="button is-primary is-large" href="<%= item_path(@conn, :new) %>">
            Sell New Item
          </a>
        </div>
      </div>
      <div class="nav-center">

      </div>
      <div class="nav-right">
      </div>
    </nav>
          <p role="alert" class="is-success">
          <%= get_flash(@conn, :info) %>
          </div>
          <p role="alert" class="is-danger">
          <%= get_flash(@conn, :error) %>
          </div>
    <div class="container">
      <div class="columns">
        <div class="column">

          <p class="alert alert-info" role="alert"></p>
          <p class="alert alert-danger" role="alert"></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
