<h1>All Items</h1>

<%= link "new item", to: item_path(@conn, :new) %>

<ul>
  <%= for item <- @items do %>
    <li>
      <%= link item.title, to: item_path(@conn, :view, item.hash_id) %>
       | Price: <%= item.price %>
    </li>
  <% end %>
</ul>